.transition-effect1 {
  position: absolute;
  z-index: 10000000000000;
  background: linear-gradient(to top, #21ff6a, #9198e5);
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  filter: blur(100px);
}
