.home {
  width: 100vw;
  color: white;
  font-family: "Jost" sans-serif;
}

.header {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  padding-top: 50px;
  position: relative;
}

.title {
  height: min-content;
  display: grid;
  position: absolute;
  line-height: 7vw;
  align-items: center;
}

.slo {
  font-size: 8vw;
  font-weight: bolder;
  color: white;
  line-height: -100px;
  align-items: center;
  display: flex;
  z-index: 4;
}

.slo:nth-child(1) {
  margin-left: 15vh;
}

.slo:nth-child(2) {
  display: flex;
}

.slo:nth-child(3) {
  margin-left: 15vh;
}

b {
  color: var(--accent);
}

.btn {
  background: #21ff6a;
  color: black;
  font-weight: 600;
  border-radius: 100px;
  border: none;
  width: 150px;
  height: 50px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s;
  font-family: "open sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 3.5%;
  transform: scale(0.95);
  font-weight: medium;
  z-index: 5;
}

.btn:hover {
  color: white;
  background-color: var(--accent);
}

.bg {
  height: 33vw;
  border-radius: 8%;
  width: 37vw;
  background-color: gray;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid black;
}

.bg-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 35vw;
  height: 30vw;
  object-fit: cover;
  border-radius: 8%;
}

.bg-vid {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  filter: grayscale(1);
}

@media (max-width: 425px) {
  .bg {
    height: 50vh;
    width: 80vw;
    border-radius: 200px;
  }
  .slo {
    font-size: 17vw !important;
  }

  .slo:nth-child(1) {
    margin-left: 10vh;
  }

  .title {
    line-height: 0vw;
  }
}
.godown {
  position: absolute;
  width: 15vw;
  height: 15vw;
  box-sizing: border-box;
  left: 0px;
  bottom: -60px;
  color: white;
  display: grid;
  place-items: center;
  font-size: 3rem;
  cursor: pointer;
  border-radius: 100%;
}

.godown:before {
  content: "";
  display: block;
  border-radius: 100%;
  width: 15vw;
  height: 15vw;
  position: absolute;
  left: 0px;
  border: solid var(--accent);
}

.godown:hover:before {
  width: 10vw;
  height: 10vw;
  transition: all 0.5s linear;
  background-color: var(--accent);
  display: grid;
  place-items: center;
  left: 15%;
  color: black;
}
/* ================================================================= */
.about {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  font-family: "open sans" sans-serif;
}

.about-inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5.33%;
}

.ab-box {
  display: grid;
  text-align: center;
  width: 25%;
  justify-content: center;
}

.ab-title {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.ab-p {
  width: 100%;
  color: darkgray;
  font-weight: 300;
  font-size: 1vw;
}

.m-img {
  height: 40vh;
  width: 100%;
  border-radius: 10px;
  justify-self: center;
  background-color: gray;
  margin-bottom: 50px;
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

  transition: all 0.3 ease;
}

.ab-box:nth-child(1) .m-img {
  background-image: url(../../assets/pp1.jpg);
  background-position: center;
  background-size: cover;
}

.ab-box:nth-child(3) .m-img {
  background-image: url(../../assets/pp2.jpg);
  background-position: center;
  background-size: cover;
}

.ab-box:nth-child(2) .m-img2 {
  background-image: url(../../assets/pp3.jpg);
  background-position: center;
  background-size: cover;
}

.ab-box:hover .m-img {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

.ab-box:hover .m-img2 {
  filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}

.m-img2 {
  height: 45vh;
  width: 100%;
  border-radius: 10px;
  justify-self: center;
  background-color: gray;
  margin-bottom: 50px;
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

  transition: all 0.3 ease;
}

/* ================================================================= */
.section-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.featured {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
  height: 140vh;
  width: 100vw;
  position: relative;
}

.featured-text {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 18%;
  gap: 10%;
  width: 100%;
  left: 0;
  height: 40vh;
}

.featured-title {
  font-weight: 300;
  font-size: 0.8rem;
  color: white;
}

.featured-p {
  color: white;
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -200%;
  }
}

@keyframes marqueee {
  0% {
    right: 0;
  }
  100% {
    right: -200%;
  }
}

.featured-content {
  position: absolute;
  overflow-x: hidden;
  width: 800%;
  bottom: 10%;
  left: 0;
  display: flex;
  gap: 20px;
  animation: marquee 20s linear infinite;
}

.featured-content1 {
  position: absolute;
  width: 800%;
  top: 0;
  left: 0;
  display: flex;
  gap: 20px;
  animation: marqueee 20s linear infinite;
}

.featured-item {
  background-color: white;
  background-image: url(../../assets/pp1.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  width: 30vw;
  height: 50vh;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.featured-item:hover {
  filter: grayscale(0%);
}
