.footer {
  height: 80vh;
  width: 100vw;
  display: grid;
  place-items: center;
  font-family: "open sans", sans-serif !important;
  position: relative;
}

.footer-links {
  position: absolute;
  left: 5%;
  color: white;
  display: grid;
  gap: 5px;
}

.footer-links-title {
  color: var(--accent);
  font-weight: 500;
  margin-bottom: 30px;
}

.footer-link {
  color: #707070;
  text-decoration: none;
  font-weight: 500;
}

.copyright {
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

/*newsletter*/
.newsletter-con {
  position: absolute;
  right: 5%;
  display: grid;
  gap: 20px;
  width: 40%;
}

.newsletter-text {
  font-size: 1.6vw;
  line-height: normal;
  font-weight: 500;
  color: var(--accent);
}

.email-input::placeholder {
  color: white;
}

.email-input-con {
  align-items: center;
  display: flex;
}

.email-input {
  background: transparent;
  border: none;
  height: 60px;
  width: 90%;
  outline: none;
  font-size: 3vw;
  border-bottom: 2px solid white;
  margin-top: 5%;
  color: white;
}

.pp-news {
  width: 350px;
  font-size: 1vw;
  line-height: normal;
  color: #707070;
  font-weight: 600;
}

.sub {
  background: none;
  border: none;
  color: white;
  font-size: 3vw;
  position: absolute;
  right: 10%;
  bottom: 40%;
  outline: none;
}

.error-message {
  color: red;
  font-weight: 600;
  position: absolute;
}

.success-message {
  color: green;
  font-weight: 600;
  position: absolute;
}
