.h {
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    scale: 1 1.2;
  }
  to {
    transform: rotate(360deg);
  }
}

.cursor {
  position: fixed;
  background-color: transparent;
  z-index: -999;
  display: grid;
  place-items: center;
  background-color: black;
}

.hover-con {
  width: 30vw;
  height: 30vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1100;
  filter: brightness(70%);
}

.hover {
  min-height: 400px;
  min-width: 400px;
  width: 25vw;
  height: 25vw;
  background: linear-gradient(#21ff6a, #9198e5);
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  z-index: -1000;
  pointer-events: none;
  border-radius: 100%;
  transition: all 0.8s linear;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  filter: blur(100px);
}

@media (max-width: 1000px) {
  .hover {
    display: none;
  }
}
